@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container">
  <img src="~/images/beach.jpg" alt="Notebook" style="width:100%;">
  <div class="content">

    <h1><div id="target"></div></h1>
   <marquee> <p> Le langage de programmation n'est qu'un outil. 
        Aujourd'hui je conde en C#, hier c'était R et demain ça sera 
        peut être Python ou Swift. <br>
        À la l'école j'ai appris à apprendre et je continue d'apprendre....
    </p>
    </marquee>
    <input type="submit" value=" Cliquer pour ajouter un étudiant" onclick="window.location.href = '/Students/Create';" class="btn btn-success">

  </div>
</div>

<h1 class="text-center" id="title4">À propos</h1>


<div class="row">
    <div class="col-sm-1"></div><!-- colonne vide-->
    <div class="col-sm-4"><h3>Qu'est-ce que c'est ?</h3></br>
      Cette application est avant tout un travail d'apprentissage. Elle a été 
      conçue pour réaliser des opérations CRUD en utilisant la technologie
      <b>Dot.Net Core </b> et ces composants notamment les pages, razor,<b> Entity Framework</b>
       et l'utilisation d'une base de données embarquée, SQlite. J'ai eu aussi l'occasion d'utiliser
       la libray jQuery de Javascript (Actualisez et regadez les lettres qui s'afichent 
       l'une après l'autre sur l'image en haut) 
       et Bootsrap.</br>
       Concretement cette application permet de gerer une liste d'étudiants. 
       C'est-à-dire que l'utilisateur peut ajouter, modifier, affichier, supprimer des étudiants
       dans une base de données SQLite. </br> À part ça, vous trouvez une page 
       <a href="/Portfolio">Portfolio</a>, où vous pouvez trouvez mes réalisations et
        et une page de <a href="/Contact">Contact</a> pour me laisser un pétit message.
    </div>
    <div class="col-sm-1"></div><!-- colonne vide-->

    <div class="col-sm-5"><h3>Qui suis-je ?</h3></br>
    <img src="~/images/photo_cv.jpg" alt="aboubakar" width=140px height=150px class="img">
    <b>Salut !</b></br> Moi c'est Aboubakar AHAMADA. Je suis informaticien passionné du 
    Machine Learning et le Développement Logiciel. </br> 
    Diplômé d'un master spécialisé en ingénierie informatique, j'ai acquis des compétences
    solides en développement logiciel et Machine Learning me permettant d'apporter une valeur
    à votre entreprise. </br> J'ai trvaillé pendant 9 mois dans la Data chez INDATAMIN. 
    J'ai appris et compris beaucoup des méthodes et pratiques me permettant de mener à 
    bien votre projet. </br> Je suis aussi un passionné du code. J'apprend à concevoir des 
    applications prêtes à l'emploi en utilisant différentes téchnologies. </br>
    <a href="https://www.linkedin.com/in/aboubakar-ahamada-150a70b4/" target="_blank">
    En svoir plus sur moi</a>

    
    </div> <!-- end colomn-->

    <div class="col-sm-1"></div><!-- colonne vide-->
</div>

<!-- ================= JAVASCRIPT SECTION ====================== --->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>
    $(function() {
  var message = 'Welcome to the code warrior web site';
  var index = 0;

  function displayLetter() {
    if (index < message.length) {
      $('#target').append(message[index++]);
    }
    else{
      clearInterval(repeat);
    }
  }
  var repeat = setInterval(displayLetter, 100);
});
</script>


<!-- ===================== CSS BLOCK ======================= -->
<style>
.container {
  position: relative;
  max-width: 100%; /* Maximum width */
  margin: 0; /* Center it */
}

.container .content {
  position: absolute; /* Position the background text */
  bottom: 0; /* At the bottom. Use top:0 to append it to the top */
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1; /* Grey text */
  width: 70%; /* Full width */
  padding: 20px; /* Some padding */
}
</style>

<style>
  #title4 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 2rem;
    border-bottom: 0.5rem solid #000;
    padding-bottom: 10px;
    font-family: sans-serif;
    color: #2A293E ;
    text-align:center;
   /*display: inline-block;*/

}

.row{
  padding-top: 30px;
  padding-bottom: 30;
}

.img{
  float: left;
  padding-right: 20px;
}
.txt{
  float:right;
}


</style>
